html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
}
:root {
    --main-bg-color: white;
    --grey-bg-color: #F5F6F7;
    --footer-bg-color: #0F2336;
    --light-blue-color: #00CCCC;
    --main-text-color: #576D81;
    --text-color: black;
    --download-color: black;
    --hover-color: #F3AF47;
    --focus-visible-color:#fc9a49;
    --active-color: #e07f2f;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 0 0 0;
}
header {
    background-color: var(--grey-bg-color);
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 0 12%;
    padding: 10px 0 7px 0;
}
nav {
    font-size: 14px;
    font-weight: bold;
    margin: auto 0;
}
.header__list {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.navigation-item:not(:last-child) {
    margin: 0 0 0 4em;
    transition: color .4s;
}
.navigation-item:not(:last-child) a:hover {
    color:  var(--hover-color);
}
.navigation-item:not(:last-child) a:focus-visible {
    color:  var(--focus-visible-color);
}
.navigation-item:not(:last-child) a:active {
    color:  var(--active-color);
}
.download {
    margin: 0 0 0 4em;
    padding: 1em;
    border-radius: .7em;
    background-color: var(--download-color);
    color: var(--main-bg-color);
    transition: color .4s, background-color .4s;
}
.download:hover {
    background-color: var(--hover-color);
    color: black;
    
}
.download:focus-visible {
    color: var(--download-color);
    background-color: var(--focus-visible-color);
}
.download:active {
    box-shadow: 0 0 7px black;
}
main {
    flex: 1 0 auto;
}
.gradient {
    width: 33%;
    height: 5em;
}
.gradients {
    justify-content: space-between;
    display: flex;
    margin: 3em 12%;
}
.gradients__linear {
    background: linear-gradient(to right, var(--light-blue-color), var(--hover-color));
}
.gradients__radial {
    background: radial-gradient(var(--light-blue-color), var(--hover-color) 80%);
}
.gradients__conic {
    background: conic-gradient(var(--light-blue-color), var(--hover-color));
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes scale {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    to {
        transform: scale(1);
    }
}
.two-d {
    justify-content: space-between;
    display: flex;
    margin: 3em 12%;
}
.two-d-element {
    display: flex;
    justify-content: center;
    width: 48%;
    height: 7em;
}
.two-d-rotation {
    animation: rotate 4s infinite;
}
.two-d-scale {
    animation: scale 4s infinite;
}
.square {
    margin: auto 0;
    background-color: var(--light-blue-color);
    border-radius: 5px;
    width: 3em;
    height: 3em;
}
@keyframes rotate-3d {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}
@keyframes rotate-3d-second {
    from {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    33% {
        transform: rotateX(90deg) rotateY(110deg) rotateZ(110deg);
    }
    67% {
        transform: rotateX(270deg) rotateY(250deg) rotateZ(270deg);
    }
    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
}
.three-d {
    justify-content: space-between;
    display: flex;
    margin: 3em 12%;
}
.three-d-element {
    display: flex;
    justify-content: center;
    width: 48%;
    height: 7em;
}
.three-d-rotation {
    animation: rotate-3d 2s infinite;
}
.three-d-rotation-second {
    animation: rotate-3d-second 4s infinite;
}
.transitions {
    justify-content: space-between;
    display: flex;
    margin: 3em 12%;
}
.transitions__element {
    display: flex;
    justify-content: center;
    width: 48%;
    height: 7em;
}
.transitions__element .square {
    transition: background-color 1s, transform 1s;
}
.transitions__element .transitions__first:hover {
    background-color: var(--hover-color);
}
.transitions__element .transitions__second:hover {
    transform: scale(2);
}
footer {
    flex: 0 0 auto
}
.footer {
    background-color: var(--footer-bg-color);
    position: relative;
}
.footer__body {
    display: flex;
    margin: 0 12% 0 12%;
    justify-content: space-between;
}
.footer__img-left {
    width: 12%;
    height: 100%;
    background-image: url("../images/footer1.png");
    background-repeat: no-repeat;
    position: absolute;
    top: -60px;
}
.footer__logo {
    margin: 4em 0;
    width: 130px;
    height: 50px;
}
.footer__navigation {
    width: 70%;
    margin: 5em 0 7em 0;
    display: flex;
    justify-content: right;
}
.footer__item {
    margin-left: 4em;
    color: var(--light-blue-color);
}
.footer__item a{
    display: block;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.705)
}
.footer__item a:hover{
    text-decoration: underline;
}
.footer__item a:focus-visible{
    text-decoration: underline;
}
.footer__item a:active{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.342)
}
.footer__img-right {
    width: 155px;
    height: 253px;
    background-image: url("../images/footer2.png");
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
}
.first-header {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
}
.grey {
    background-color: var(--grey-bg-color);
}
button {
    cursor: pointer;
}
::selection {
    background-color: rgba(0, 255, 213, 0.253);
}