html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
}
:root {
    --main-bg-color: white;
    --grey-bg-color: #F5F6F7;
    --footer-bg-color: #0F2336;
    --light-blue-color: #00CCCC;
    --main-text-color: #576D81;
    --text-color: black;
    --download-color: black;
    --hover-color: #F3AF47;
    --focus-visible-color:#fc9a49;
    --active-color: #e07f2f;
    --grid-n-color: #f1efef;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 0 0 0;
}
header {
    background-color: var(--grey-bg-color);
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 0 12%;
    padding: 10px 0 7px 0;
}
nav {
    font-size: 14px;
    font-weight: bold;
    height: 44.8px;
    margin: auto 0;
}
.header__list {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.navigation-item:not(:last-child) a{
    margin: 0 0 0 4em;
    transition: color .4s;
}
.navigation-item:not(:last-child) a:hover {
    color:  var(--hover-color);
}
.navigation-item:not(:last-child) a:focus-visible {
    color:  var(--focus-visible-color);
}
.navigation-item:not(:last-child) a:active {
    color:  var(--active-color);
}
.download {
    margin: 0 0 0 4em;
    padding: 1em;
    border-radius: .7em;
    background-color: var(--download-color);
    color: var(--main-bg-color);
    transition: color .4s, background-color .4s;
}
.download:hover {
    color: var(--download-color);
    background-color: var(--hover-color);
}
.download:focus-visible {
    color: var(--download-color);
    background-color: var(--focus-visible-color);
}
.download:active {
    box-shadow: 0 0 7px black;
}
.blue-text {
    color: var(--light-blue-color);
}
main {
    flex: 1 0 auto;
    margin: 3em 12%;
}
.reg {
    width: 600px;
    margin: 0 auto;
}
fieldset {
    width: 400px;
    margin: 1em auto;
}
fieldset label{
    cursor: pointer;
}
.user-wrap {
    border: none;
}
.field {
    width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row-gap: 1em;
}
.field:focus-within {
    font-weight: bold;
}
.user-wrap legend {
    text-align: center;
    background-color: var(--main-bg-color);
    border-radius: none;
    color: black;
    font-size: 2em;
}
label {
    margin: auto 0;
}
legend {
    border-radius: 3px;
    padding: .2em;
    background-color: black;
    color: white;
}
fieldset label::after {
    content: '\A';
    white-space: pre;
}
input[type="text"], input[type="tel"], input[type="email"],
    input[type="password"], input[type="date"], input[type="submit"],
    input[type="submit"], input[type="reset"] {
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid var(--grey-bg-color);
    background-color: var(--grey-bg-color);
    height: 3em;
}
label.require::after {
    content: " *";
    color: red;
}
div input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}
input {
    text-align: center;
    vertical-align: middle;
}
input[type="date"] {
    padding: 1px;
    padding-left: 3em;
}
input[type="radio"] {
    cursor: pointer;
}
input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label {
    font-weight: bold;
}
input[type="submit"] {
    background-color: var(--light-blue-color);
    color: black;
    transition: background-color .4s;
}
input[type="submit"]:hover {
    background-color: var(--hover-color);
}
input[type="submit"]:focus-visible {
    background-color: var(--focus-visible-color);
}
input[type="submit"]:active {
    box-shadow: 0 0 5px black;
    border: 1px solid black;
}
input[type="reset"] {
    background-color: black;
    color: white;
    transition: color .4s, background-color .4s;
}
input[type="reset"]:hover:enabled {
    color: var(--download-color);
    background-color: var(--hover-color);
}
input[type="reset"]:focus-visible:enabled {
    color: var(--download-color);
    background-color: var(--focus-visible-color);
}
input[type="reset"]:active:enabled {
    box-shadow: 0 0 5px black;
    border: 1px solid black;
}
input[type="submit"], input[type="reset"] {
    padding: 0 2em;
    cursor: pointer;
}
input[type="reset"]:disabled {
    background-color: rgba(0, 0, 0, 0.521);
}
.reg_btns {
    display: flex;
    justify-content: space-around;
}
dt {
    font-weight: bold;
}
dt::first-letter {
    font-size: 2em;
}
dd::before {
    content: "\1f6c8    "
}
.pseudo {
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 600px 200px;
}
.pseudo__classes {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em;
    grid-template-columns: 200px 200px 200px;
}
.pseudo__classes .pseudo-field:nth-child(2n), .pseudo__elements .pseudo-field:nth-child(2n) {
    background-color: var(--grid-n-color)
}

.pseudo-field input:checked + label {
    text-decoration: line-through;
}
footer {
    flex: 0 0 auto
}
.footer {
    background-color: var(--footer-bg-color);
    position: relative;
}
.footer__body {
    display: flex;
    margin: 0 12% 0 12%;
    justify-content: space-between;
}
.footer__img-left {
    width: 12%;
    height: 100%;
    background-image: url("../images/footer1.png");
    background-repeat: no-repeat;
    position: absolute;
    top: -60px;
}
.footer__logo {
    margin: 4em 0;
    width: 130px;
    height: 50px;
}
.footer__navigation {
    width: 70%;
    margin: 5em 0 7em 0;
    display: flex;
    justify-content: right;
}
.footer__item {
    margin-left: 4em;
    color: var(--light-blue-color);
}
.footer__item a{
    display: block;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.705)
}
.footer__item a:hover{
    text-decoration: underline;
}
.footer__item a:focus-visible{
    text-decoration: underline;
}
.footer__item a:active{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.342)
}
.footer__img-right {
    width: 155px;
    height: 253px;
    background-image: url("../images/footer2.png");
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
}
.first-header {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
}
.grey {
    background-color: var(--grey-bg-color);
}
::selection {
    background-color: rgba(0, 255, 213, 0.253);
}
legend::selection {
    background-color: rgba(0, 255, 242, 0.507);
}