html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
}
:root {
    --main-bg-color: white;
    --grey-bg-color: #F5F6F7;
    --footer-bg-color: #0F2336;
    --light-blue-color: #00CCCC;
    --main-text-color: #576D81;
    --text-color: black;
    --download-color: black;
    --hover-color: #F3AF47;
    --focus-visible-color:#fc9a49;
    --active-color: #e07f2f;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 0 0 0;
}
header {
    background-color: var(--grey-bg-color);
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 0 12%;
    padding: 10px 0 7px 0;
}
nav {
    font-size: 14px;
    font-weight: bold;
    margin: auto 0;
}
.header__list {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.navigation-item:not(:last-child) {
    margin: 0 0 0 4em;
    transition: color .4s;
}
.navigation-item:not(:last-child) a:hover {
    color:  var(--hover-color);
}
.navigation-item:not(:last-child) a:focus-visible {
    color:  var(--focus-visible-color);
}
.navigation-item:not(:last-child) a:active {
    color:  var(--active-color);
}
.download {
    margin: 0 0 0 4em;
    padding: 1em;
    border-radius: .7em;
    background-color: var(--download-color);
    color: var(--main-bg-color);
    transition: color .4s, background-color .4s;
}
.download:hover {
    background-color: var(--hover-color);
    color: black;
    
}
.download:focus-visible {
    color: var(--download-color);
    background-color: var(--focus-visible-color);
}
.download:active {
    box-shadow: 0 0 7px black;
}
main {
    flex: 1 0 auto;
}
.promo {
    margin: 0 12% 13% 12%;
    padding: 8% 0 13% 0;
    font-size: 55px;
    font-weight: bold;
    background-image: url("../images/promo.png");
    background-position: bottom right;
    background-repeat: no-repeat;
}
.promo__body {
    width: 50%;
}
.blue-text {
    color: var(--light-blue-color);
}
.discover-how {
    font-size: 18px;
    padding: 1em;
    border-radius: .7em;
    background-color: var(--light-blue-color);
    position: relative;
    transition: background-color .4s;
}
.discover-how:hover {
    background-color: var(--hover-color);
}
.discover-how:focus-visible {
    background-color: var(--focus-visible-color)
}
.discover-how:active {
    box-shadow: 0 0 5px black;
}
.discover-how svg{
    vertical-align: middle;
}
.our-pluses {
    margin: 0 12% 0 12%;
    display: flex;
    justify-content: space-between;
}
.our-pluses__column {
    max-width: 33.333%;
    margin: 7% 5% 0 0;
}
.item-text h2{
    font-size: 25px;
}
.item-text p{
    font-size: 16px;
    color: var(--main-text-color);
}
.grey-window-text h2{
    font-size: 40px;
    padding-right: 8em;
}
.grey-window-text p:nth-child(1){
    font-size: 18px;
    color: var(--main-text-color);
}
@keyframes loader {
    from {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes tutorial {
    from {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.loader-section {
    position: relative;
}
.loader {
    z-index: 3;
    position: absolute;
    top: 350px;
    left: calc(50% - 20px);
    animation: loader 5s forwards;
}
.tutorial {
    position: relative;
    display: flex;
    justify-content: space-between;
    animation: tutorial 5s forwards;
}
.grey-window {
    background-color: var(--grey-bg-color);
    border: 2px solid var(--grey-bg-color);
    border-radius: 100px;
    height: 500px;
    margin: 10% 12%;
    position: relative;
}
.tutorial__body {
    display: flex;
    justify-content: right;
}
.tutorial__img {
    background-image: url("../images/tutorial1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 584px;
    height: 648px;
    max-width: 584px;
    max-height: 648px;
    min-width: 292px;
    min-height: 324px;
    top: -74px;
    position: absolute;
    left: 0;
}
.tutorial__item {
    width: 40%;
    margin: auto 10em;
    z-index: 1;
}
.tutorial__item button{
    background-color: var(--grey-bg-color);
    margin-top: 60px;
    border: none;
}
.tutorial__item h2{
    width: 40%;
}
section.possibilities {
    background: linear-gradient(white 12%, var(--grey-bg-color) 12% 88%, white 88%);
}

div.possibilities {
    background-image: url("../images/possibilities.png");
    background-repeat: no-repeat;
    background-position: 100% -75%;
    margin: 2em 12%;
    display: flex;
}
.possibilities__list {
    width: 50%;
}
.possibilities__item {
    width: 90%;
    background-color: white;
    border: 2px solid white;
    border-radius: .8em;
    margin: 2em 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}
.possibilities__item:nth-child(2) {
    margin-left: 3em;
    margin-right: 0;
}
.possibilities__item img {
    display: inline;
    margin: 1em;
    position: absolute;
}
.possibilities__item h2 {
    margin: 1em 82px;
    display: block;
}
.possibilities__item p {
    margin: 1.5em calc(50px + 2em);
}
.gifts {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.gifts__body {
    display: flex;
    justify-content: left;
}
.gifts__item {
    width: 40%;
    padding: 0 10em;
    margin: auto 0;
}
.gifts__item h2{
    width: 70%;
    padding: 0;
}
.gifts__img {
    background-image: url("../images/gifts.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 547px;
    height: 640px;
    max-width: 547px;
    max-height: 640px;
    min-width: 292px;
    min-height: 324px;
    top: -74px;
    position: absolute;
    right: 0;
    z-index: 1;
}
.gifts__item button{
    background-color: var(--grey-bg-color);
    margin-top: 60px;
    border: none;
}
.link {
    margin: 0 12%;
    margin-bottom: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(../images/link.png);
    background-repeat: no-repeat;
    background-position: top center;
}
.link h2 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 50px;
}
.link__number input[type="tel"] {
    text-align: center;
    width: 384px;
    background-color: var(--grey-bg-color);
    border: 1px solid var(--grey-bg-color);
    border-radius: 15px;
    font-weight: bold;
    height: 60px;
}
.link__number input[type="submit"] {
    padding: 0 2em;
    background-color: var(--light-blue-color);
    border: none;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    margin: 0 1em;
    height: 60px;
    transition: background-color .4s;
}
.link__number input[type="submit"]:hover {
    background-color: var(--hover-color);
}
.link__number input[type="submit"]:focus-visible {
    background-color: var(--focus-visible-color);
}
.link__number input[type="submit"]:active {
    box-shadow: 0 0 5px black;
}
.link__stores {
    margin-top: 1em;
    margin-right: 145px;
}
.link__form input[type="submit"] {
    cursor: pointer;
}
.link__stores a {
    margin-right: 20px;
}
footer {
    flex: 0 0 auto
}
.footer {
    background-color: var(--footer-bg-color);
    position: relative;
}
.footer__body {
    display: flex;
    margin: 0 12% 0 12%;
    justify-content: space-between;
}
.footer__img-left {
    width: 12%;
    height: 100%;
    background-image: url("../images/footer1.png");
    background-repeat: no-repeat;
    position: absolute;
    top: -60px;
}
.footer__logo {
    margin: 4em 0;
    width: 130px;
    height: 50px;
}
.footer__navigation {
    width: 70%;
    margin: 5em 0 7em 0;
    display: flex;
    justify-content: right;
}
.footer__item {
    margin-left: 4em;
    color: var(--light-blue-color);
}
.footer__item a{
    display: block;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.705)
}
.footer__item a:hover{
    text-decoration: underline;
}
.footer__item a:focus-visible{
    text-decoration: underline;
}
.footer__item a:active{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.342)
}
.footer__img-right {
    width: 155px;
    height: 253px;
    background-image: url("../images/footer2.png");
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
}
.first-header {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
}
.grey {
    background-color: var(--grey-bg-color);
}
button {
    cursor: pointer;
}
::selection {
    background-color: rgba(0, 255, 213, 0.253);
}